<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <title>Document</title>
    <style>
        html,
        body {
            height: 100%;
        }

        #map {
            height: 100%;
        }
    </style>
</head>

<body>
    <input type="number" id="number2" value="" min="1" max="44" />
    <input type="button" value="表示" onclick="clickBtn3()" />
    <p>収集車番号 <span id="span2"></span></p>

    <p id="map"></p>
</body>
<script>
    let number = -1;
    function clickBtn3() {
        const number2 = document.getElementById("number2");
        document.getElementById("span2").textContent = number2.value;
        number = number2.value-1;
        // 34.84153679681621, 135.7051004135167
        let lat = 34.84153679681621; // 緯度
        let lng = 135.7051004135167; // 経度
        let zoom = 16; // ズームレベル
        let map = L.map("map"); // 地図の生成
        map.setView([lat, lng], zoom); // 緯度経度、ズームレベルを設定する

        // タイルレイヤを生成し、地図に追加する
        // 今回はOpenStreetMapを表示する
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            // 著作権の表示
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if (this.response) {
                    console.log(this.response);
                    L.geoJSON(this.response).addTo(map);
                }
            }
        }
        xmlHttpRequest.open('GET', 'http://127.0.0.1:8000/geography/cluster/'+number, true);
        xmlHttpRequest.responseType = 'json';
        xmlHttpRequest.send(null);
    }
</script>

</html>
